<h2>Get Sloshed!</h2>

<ul>
  <li><%= link_to 'Recipes', recipes_path %></li>
  <li><%= link_to 'Bases', bases_path %></li>
  <li><%= link_to 'Barcores', barcores_path %></li>
  <li><%= link_to 'Ingredients', ingredients_path %></li>
  <li><%= link_to 'Pumps', pumps_path %></li>
</ul>
