<%= form_for @base do |f| %>
  <% if @base.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@base.errors.count, "error") %> prohibited
        this base from being saved:</h2>
      <ul>
        <% @base.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
